@use "sass:math";
@import '../../styles/index';

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #030303;
    color: #FFFFFF;
}

.section {
    position: relative;
    min-height: 100vh;
    background-color: #030303;
    padding: px-to-rem(16) px-to-rem(16);

    @include respond-to(md) {
        padding: px-to-rem(32) px-to-rem(96);
    }

    &__desc {
        font-family: 'Univers67BoldCondensed';
        text-align: center;
        font-size: px-to-rem(28);
        text-transform: uppercase;
        margin-bottom: px-to-rem(64);
        line-height: 1.4;
        background: -webkit-radial-gradient(#eee, #333);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__title {
        text-align: center;
        font-size: px-to-rem(48);
        text-transform: uppercase;
        font-family: 'Univers67BoldCondensed';
    }

    &--blue {
        background-color: #0000FF;
        z-index: 2;
    }
    &--red {
        background-color: #FF0000;
        z-index: 2;
    }
    &--centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &--parallax {
        z-index: 1;
        padding: px-to-rem(640) px-to-rem(8) px-to-rem(80);

        @include respond-to(lg) {
            padding: px-to-rem(640) px-to-rem(96) px-to-rem(80);
        }
        @include respond-to(md) {
            padding: px-to-rem(640) px-to-rem(96) px-to-rem(80);
        }
        @include respond-to(sm) {
            padding: px-to-rem(1200) px-to-rem(48) px-to-rem(80);
        }
    }
    &--no-padding {
        margin-right: px-to-rem(-16);
        margin-left: px-to-rem(-16);
    }
}

.feature {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(4) px-to-rem(4);

    @include respond-to(lg) {
        padding: px-to-rem(4) px-to-rem(48);
    }
    @include respond-to(md) {
        padding: px-to-rem(4) px-to-rem(48);
    }
    @include respond-to(sm) {
        padding: px-to-rem(4) px-to-rem(12);
    }

    figure {
        font-size: 0;
        margin-bottom: px-to-rem(16);
        text-align: center;
    }
    h3 {
        text-align: center;
        margin-bottom: px-to-rem(8);
        text-transform: uppercase;
        font-size: px-to-rem(22);
    }
    p {
        text-align: center;
        font-size: px-to-rem(18);
        margin-bottom: px-to-rem(24);

        @include respond-to(md) {
            margin-bottom: px-to-rem(64);
        }
    }
}
