@use "sass:math";
@import '../../styles/index';

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #030303;
    color: #FFFFFF;
}

.section {
    position: relative;
    min-height: 100vh;
    background-color: #030303;
    padding: px-to-rem(16) px-to-rem(16);

    @include respond-to(md) {
        padding: px-to-rem(32) px-to-rem(96);
    }

    &__desc {
        @include font-desc;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: px-to-rem(64);
        background: -webkit-radial-gradient(#eee, #333);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__title {
        @include font-heading-1;
        text-align: center;
        text-transform: uppercase;
    }

    &--blue {
        background-color: #0000FF;
        z-index: 2;
    }
    &--red {
        background-color: #FF0000;
        z-index: 2;
    }
    &--centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &--parallax {
        z-index: 1;
        padding: px-to-rem(2000) px-to-rem(8) px-to-rem(32);

        @include respond-to('450px') {
            padding: px-to-rem(1200) px-to-rem(32) px-to-rem(80);
        }
        @include respond-to(sm) {
            padding: px-to-rem(1000) px-to-rem(32) px-to-rem(80);
        }
        @include respond-to(md) {
            padding: px-to-rem(900) px-to-rem(32) px-to-rem(80);
        }
        @include respond-to(lg) {
            padding: px-to-rem(580) px-to-rem(96) px-to-rem(80);
        }

        // For Whom Hates Animations (Reduced Motion)
        @media (prefers-reduced-motion: reduce) {
            padding: px-to-rem(64) px-to-rem(64) px-to-rem(32);
        }
    }
    &--no-padding {
        margin-right: px-to-rem(-16);
        margin-left: px-to-rem(-16);
    }
}
.pinned-image {
    margin-top: px-to-rem(48);
}
.feature {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(4) px-to-rem(4);

    @include respond-to(lg) {
        padding: px-to-rem(4) px-to-rem(48);
    }
    @include respond-to(md) {
        padding: px-to-rem(4) px-to-rem(48);
    }
    @include respond-to(sm) {
        padding: px-to-rem(4) px-to-rem(12);
    }

    figure {
        font-size: 0;
        margin-bottom: px-to-rem(16);
        text-align: center;
    }
    svg {
        width: px-to-rem(120);
        height: px-to-rem(120);
        fill: #FFFFFF;
        position: relative;
        z-index: 3;
    }
    h3 {
        @include font-heading-2;
        text-align: center;
        margin-bottom: px-to-rem(8);
        text-transform: uppercase;
    }
    p {
        text-align: center;
        font-size: px-to-rem(18);
        margin-bottom: px-to-rem(24);

        @include respond-to(md) {
            margin-bottom: px-to-rem(64);
        }
    }
}
